{% load static %}

<!-- jquery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Popper Js -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Dropzone -->
<script type="text/javascript" src="{% static 'js/dropzone.min.js' %}"></script>
<!-- Main Js -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
